<div id="credit-info">
    <hr>
    <p>Credit Card Information:</p>
    <hr>
    <div class="form-field">
        <input class="form-control" type="text" name="Card Number" placeholder="Card Number..">
    </div>
    <div class="form-field">
        <input class="form-control" type="text" name="Name on card" placeholder="Name on card..">
    </div>
    <div class="form-field">
        <input class="form-control" type="text" name="Expiry date" placeholder="Expiry date..">
    </div>
    <div class="form-field">
        <input class="form-control" type="text" name="Security code" placeholder="Security code..">
    </div>
    <button type="submit">Submit</button>
</div>
     